/* screen configs */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    background-color: #f4f4f4;
    font-family: 'Roboto', sans-serif;
  }
  
  ul { list-style: none; } 
  
  h1 {
    text-transform: uppercase;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    color: #3c3c3e;
  }
  
  /* chatbox */
  .chat {
    min-height: 400px;
    background-color: #fff; 
    padding-right: 15px;
    padding-left: 15px;
    margin: 20px auto;
    border-radius: 0.5rem;
  }
  
  /* messages */
  .messages {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
  }
  
  .message-list {
    overflow-y: scroll;
    max-height: 500px;
  }
  
  .message-item {
    padding: 20px;
    border-radius: 0.75rem;
    margin: 20px 0;
  }
  
  .message-item:last-child {
    margin-bottom: 0;
  }
  
  .item-primary {
    width: 250px;
    font-size: 14px;
    background-color: #f6f7f8;
    color: #3c3c3e;
    margin-right: 100px;
    text-align: left;
  }
  
  .item-secondary {
    width: 200px;
    font-size: 14px;
    background-color: rgba(213,170,51,0.75);
    color: #fff;
    margin-left: calc(28%); 
  }
  
  /* messages input */
  .message-input {
    display: flex;
    padding: 20px 0;
  }
  
  .message-input input {
    width: 100%;
    padding: 10px;
    border-radius: 2rem;
    border: 1px solid #a5a5a5;
  }
  
  .message-input button {
    padding: 10px;
    margin-left: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }

  .toggle-list {
    position: absolute ;
  }
  .chatbot-header {
    background: #d5aa63;
    text-align: center;
  }

  .chatbot-header > h1 { 
    color: #fff;
    font-size: 1.4rem;
  }